<div class="footer_false">

  <div class="container" id="big_footer">

    <div class="col-md-4">
      <h3>Address</h3>
      <p>
        MADHAV INSTITUTE OF TECHNOLOGY & SCIENCE
      </p>
      <ul>
        <li>Race course road</li>
        <li>Gole ka mandir</li>
        <li>Gwalior, Madhya Pradesh</li>
        <li>474005, India</li>
      </ul>
    </div>

    <div class="col-md-4" id="links">
      <h3>Links</h3>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/events">Events</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <h3>Facebook Page</h3>
      <div class="fb-page" data-href="https://www.facebook.com/MITSACMStudentChapter/" data-small-header="true"
           data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/MITSACMStudentChapter/" class="fb-xfbml-parse-ignore"><a
          href="https://www.facebook.com/MITSACMStudentChapter/">MITS ACM Student Chapter</a></blockquote>
      </div>
    </div>

  </div>

  <div class="panel">
    <div class="panel-body clearfix">
      <span class="bs-left">&copy; 2017-18, All rights reserved, MITS ACM Students Chapter</span>
      <span class="bs-right"><i class="fa fa-code" aria-hidden="true"></i> with <i class="fa fa-heart"
                                                                                   aria-hidden="true"></i> by <a
        href="http://swapnilsingh.in" target="_blank">an0nh4x0r</a></span>
    </div>
  </div>

</div>

