<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">About ACM</h3>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/acm.png" alt="...">
          </a>
        </div>
        <div class="media-body">
          ACM brings together computing educators, researchers, and professionals to inspire dialogue, share resources, and
          address the field's challenges. As the world’s largest computing society, ACM strengthens the profession's
          collective voice through strong leadership, promotion of the highest standards, and recognition of technical
          excellence. ACM supports the professional growth of its members by providing opportunities for life‐long learning,
          career development, and professional networking. Founded at the dawn of the computer age, ACM’s reach extends to
          every part of the globe, with more than half of its 100,000 members residing outside the U.S. Its growing
          membership has led to Councils in Europe, India, and China, fostering networking opportunities that strengthen
          ties within and across countries and technical communities. Their actions enhance ACM’s ability to raise awareness
          of computing’s important technical, educational, and social issues around the world.
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">About MITS ACM Student Chapter</h3>
    </div>
    <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="assets/mits.png" alt="...">
          </a>
        </div>
        <div class="media-body">
          MITS ACM Students Chapter was established in July 15,2014 for the students, by the department of CSE&IT. Carrying
          “CREATIVITY & SHEER TENACITY” in its blood, this chapter aims at churning out the hidden talents from the crowd in
          the field of computing, in an era where computers and computing in its any form are an integral part of life. The
          chapter is committed in generating, disseminating, and preserving knowledge, and to working with others to bring
          this knowledge to bear on the world's great challenges. MITS ACM Student Chapter is dedicated to provide students
          with an educational environment that combines rigorous academic study and the excitement of discovery with the
          support and intellectual stimulation of a diverse campus community. We seek to develop in each member of the
          chapter and the collaborated non-members with the ability and passion to work wisely, creatively, and effectively
          in field of computer science. The chapter aims in : "BRINGING WINDS OF CHANGE"
        </div>
      </div>

    </div>
  </div>

</div>

