<div class="container">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Pixel Grounds</h3>
    </div>
    <div class="panel-body">

      <div class="media">
        <div class="media-left">
          <a>
            <img class="media-object events_small_media" src="../../assets/events/pixel_grounds.jpg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Pixel Grounds organised on 19 March - 2016</strong></h4>
          <strong>"All study and no play makes jack a dull boy."</strong><br>
          Going with the proverb MITS ACM CHAPTER organised <strong>#PIXEL_GROUNDS</strong> a LAN gaming competition.
          An event got overwhelming response in which near about 50 teams registered for <strong>#counterstrike</strong>
          and 60 to 70 players
          battled in <strong>#blur</strong>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">D'Advent II 2k15</h3>
    </div>
    <div class="panel-body">

      <div class="media">
        <div class="media-left">
          <a>
            <img class="media-object events_small_media" src="../../assets/events/d_advent_2.jpg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>D'Advent II 2k15 organised on 9 October - 2015</strong></h4>
          A Tech talk illustrating the importance of computers in every field of engineering. <br> A short flick that
          emphasises on the inception of modern computing and the birth of artificial intelligence. <br>
          <strong>Exclusively for first year all branches.</strong>
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">SQL workshop 2k15</h3>
    </div>
    <div class="panel-body">

      <div class="media">
        <div class="media-left">
          <a>
            <img class="media-object events_small_media" src="../../assets/events/mysql.png" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>SQL Workshop organised on 2 March - 2015</strong></h4>
          SQL workshop organised by MITS ACM Student chapter for first, second and third year students. <br>
          Workshop was given by <strong>Raju Raghuwanshi</strong>, <strong>Shivam Gupta</strong> and <strong>Snigdha
          Jain</strong> of final year
          CSE batch 2015.
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Rubik's Revenge</h3>
    </div>
    <div class="panel-body">

      <div class="media">
        <div class="media-left">
          <a>
            <img class="media-object events_small_media" src="../../assets/events/rubiks_revenge.jpg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>Rubik's Revenge organised on 27, 28 September - 2014</strong></h4>
          <ul>
            <li><strong>A workshop aimed to teach how to solve a Rubik's cube easily.</strong></li>
            <li><strong>Video & Graphic aids were provided for better understanding.</strong></li>
            <li><strong>Free handbooks were distributed after the workshop.</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">D'Advent-14</h3>
    </div>
    <div class="panel-body">

      <div class="media">
        <div class="media-left">
          <a>
            <img class="media-object events_small_media" src="../../assets/events/d_advent_14.jpg" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><strong>D'Advent-14 organised on 9 September - 2014</strong></h4>
          <ul>
            <li><strong>Tech - Talk</strong>, An interesting tech talk for students of all branches focusing on the
              advent of computer technology and where the future of computing could take us.
            </li>
            <li><strong>Droid - Battle</strong>, First ever android gaming event organized in MITS.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
