<app-jumbotron></app-jumbotron>

<div class="container">

  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Director's Message</h3>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img id="rk_pandit" class="media-object" src="/assets/rk_pandit.jpg" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Dr. R.K. Pandit, Director, MITS Gwalior</h4>
              As Bill Gates once said "Software is a great combination between artistry and engineering." We aim to
              provide these
              artists with a platform and put efforts to bring out this hidden art in our students.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">HOD's Message</h3>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img id="rk_gupta" class="media-object" src="/assets/rkg.jpg" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Dr. R.K. Gupta, HOD, CSE & IT, MITS Gwalior</h4>
              Hardware and software are not yet matured, they will revolutionize the way we learn, a lot of has to be
              explored in the field of computer science and we put our sincere endeavors in preparing our students for
              the same.
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--<div class="container">-->
  <!--<app-carousel></app-carousel>-->
<!--</div>-->
