<div class="container">

  <div class="jumbotron">
    <h1>MITS ACM Student Chapter</h1>
    <p>ACM MITS is a leading student chapter in MITS Gwalior with its core focus areas in the field of computing, networking, education and technological innovation.</p>
    <p>We have been actively conducting numerous events year after year to cater to both the programmer and the gamer!</p>
    <p>
      <a class="btn btn-lg btn-primary" routerLink="/contact" role="button">Contact us &raquo;</a>
    </p>

  </div>

</div>
