
<div class="container">

  <form class="well">

    <div class="form-group">
      <label for="name">Please provide your name</label>
      <input type="name" class="form-control" id="name" placeholder="Name">
    </div>

    <div class="form-group">
      <label for="email">Please provide your email</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="enrollment">Please provide your enrollment number</label>
      <input type="text" class="form-control" id="enrollment" placeholder="Enrollment number">
    </div>

    <div class="form-group">
      <label for="branch">Please select your branch</label>
      <select id="branch" class="form-control">
        <option disabled selected value> -- select an option -- </option>
        <option>Computer Science & Engineering</option>
        <option>Information Technology</option>
        <option>Electronics</option>
        <option>Electrical</option>
        <option>Civil</option>
        <option>Mechanical</option>
        <option>Chemical</option>
        <option>Biotechnology</option>
        <option>Architecture</option>
      </select>
    </div>

    <div class="form-group">
      <label for="year">Please select your current year in college</label>
      <select id="year" class="form-control">
        <option disabled selected value> -- select an option -- </option>
        <option>1st year</option>
        <option>2nd year</option>
        <option>3rd year</option>
        <option>4th year</option>
        <option>5th year</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleInputFile">Upload your resume</label>
      <input type="file" id="exampleInputFile">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>

</div>
